{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    Home
{% endblock %}

{% block content %}

    <section class="job-form-section job-form-section--image">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job-form-box">
                        </br></br>
                        <h2 class="heading"><span class="accent">OOPS</span> We couldn't find this page!</h2>
                        <p>The page you are looking for might have been removed, had its name changed, or temporary unavailable</p>
                        <a href="/" class="offset-5"><button>Back to home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
