{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
    Home
{% endblock %}

{% block content %}

    <section class="job-form-section job-form-section--image">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <div class="job-form-box">
                        </br></br>
                        <h2 class="heading">Sorry, there's an <span class="accent">internal server</span> error!</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}
